.container {
  max-width: 500px; /* Mengubah width menjadi max-width agar lebih responsif */
  margin: 40px auto 0; /* Menghapus margin-top dan menyesuaikan margin secara lebih spesifik */
  display: flex;
  justify-content: center;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

#drop-area.hover {
  border-color: #007bff;
}

img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 20px;
  position: relative;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.delete-button:hover {
  opacity: 1;
}
